{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <b>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </b>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                <td colspan="1">{{row['stockSym']}}</td>
                <td>{{row['stockName']}}</td>
                <td>{{row['state']}}</td>
                <td>{{row['createdAt']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
